--color-fill-light-2: #f3f5f9;
--color-text-secondary-2: rgba(13,13,13,0.66);
--color-ai-normal: #8350f2;
--color-line-aibox: #eaeaea;
--color-fill-aibox-normal: #fafafa;
--color-fill-aibox-active: #f5f5f5;
--color-ai-hover: #9c75f0;
--color-ai-active: #682aef;
--color-icon-green-primary: #20804e;
--color-icon-tertiary: #a3a3a3;
--color-public: #1f69e0;
--color-public-hover: #458bfa;
--color-public-active: #1e5fc7;
--color-public-light-default: #edf4ff;
--color-text-primary: hsla(0,0%,5%,.9);
--color-text-secondary: hsla(0,0%,5%,.66);
--color-text-tertiary: hsla(0,0%,5%,.46);
--color-text-white: #fff;
--color-text-public: #1e5fc7;
--color-text-success: #347317;
--color-text-info: #1e5fc7;
--color-text-error: #bb2726;
--color-text-warning: #c25010;
--color-text-highlight: #c48200;
--color-text-black: #000;
--color-icon-primary: #333;
--color-icon-secondary: #757575;
--color-icon-disable: #e6e6e6;
--color-icon-white: #fff;
--color-icon-public: #1e5fc7;
--color-icon-success: #418f1f;
--color-icon-info: #1f69e0;
--color-icon-error: #dd3332;
--color-icon-warning: #e2651a;
--color-icon-highlight: #e99d00;
--color-line-light: hsla(0,0%,5%,.06);
--color-line-regular: hsla(0,0%,5%,.12);
--color-line-medium: hsla(0,0%,5%,.24);
--color-line-heavy: hsla(0,0%,5%,.48);
--color-line-white: #fff;
--color-line-public: #1e5fc7;
--color-line-success: #418f1f;
--color-line-info: #1f69e0;
--color-line-error: #dd3332;
--color-line-warning: #e2651a;
--color-line-highlight: #e99d00;
--color-line-hover-blue: rgba(59,100,252,.4);
--color-bg-top: #fff;
--color-bg-middle: #fff;
--color-bg-bottom: #fff;
--color-bg-plate: #f5f5f5;
--color-bg-base: #eee;
--color-bg-success: #e9f6e3;
--color-bg-warning: #fef1ea;
--color-bg-error: #fef1f1;
--color-bg-info: #edf4ff;
--color-fill-extra-heavy: #ccc;
--color-fill-heavy: #dbdbdb;
--color-fill-medium: #e6e6e6;
--color-fill-regular: #eee;
--color-fill-light: #f5f5f5;
--color-fill-base: #fff;
--color-state-active: hsla(0,0%,5%,.1);
--color-state-hover: hsla(0,0%,5%,.06);
--color-state-normal: hsla(0,0%,5%,0);
--color-mask-regular: hsla(0,0%,5%,.5);
--color-mask-heavy: #0d0d0d;
--color-feedback-regular: #575757;
--font-size-xxx-large: 28px;
--font-size-xx-large: 24px;
--font-size-extra-large: 20px;
--font-size-large: 18px;
--font-size-middle: 16px;
--font-size-regular: 14px;
--font-size-base: 13px;
--font-size-small: 12px;
--font-size-extra-small: 10px;
--line-height-xxx-large: 40px;
--line-height-xx-large: 36px;
--line-height-extra-large: 32px;
--line-height-large: 26px;
--line-height-middle: 24px;
--line-height-regular: 22px;
--line-height-base: 22px;
--line-height-small: 20px;
--line-height-extra-small: 18px;
--font-weight-regular: 400;
--font-weight-bold: 600;
--border-radius-none: 0;
--border-radius-extra-small: 2px;
--border-radius-small: 4px;
--border-radius-middle: 6px;
--border-radius-large: 8px;
--border-radius-extra-large: 12px;
--border-radius-circle: 9999px;
--box-shadow-extra-small: 0px 0px 0px 1px hsla(0,0%,5%,.1),0px 1px 0px hsla(0,0%,5%,.14);
--box-shadow-small: 0px 1px 4px 0px hsla(0,0%,5%,.1);
--box-shadow-middle: 0px 1px 4px 0px hsla(0,0%,5%,.14);
--box-shadow-large: 0px 12px 32px 0px hsla(0,0%,5%,.08);
--box-shadow-extra-large: 0px 12px 32px 0px hsla(0,0%,5%,.08);
--box-shadow-glow: 0px 0px 4px 0px #1f69e0;
--color-text-brand: #007a6b;
--color-line-brand: #007a6b;
--color-icon-indigo: #9348f3;
--color-brand-mind-normal: #00a59a;
--color-brand-mind-active: #008a81;
--color-vip-bg-normal: #32230e;
--color-vip-bg-hover: #4d3716;
--color-vip-bg-active: #24190a;
--color-vip-text: #fac67d;
--border-radius-hovertip-primary: 6px;
--color-bg-footer: transparent;
--font-size-footer: var(--font-size-small);
color: var(--color-text-primary);
font-family: Apple System,SF Pro SC,SF Pro Display,Helvetica Neue,Arial,PingFang SC,Hiragino Sans GB,STHeiti,Microsoft YaHei,Microsoft JhengHei,Source Han Sans SC,Noto Sans CJK SC,Source Han Sans CN,sans-serif;
-webkit-font-smoothing: antialiased;
font-size: inherit;
width: 1920;
height: 216;
outline: none;
display: block;
background: rgb(255, 255, 255);